.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.success {
  color: green;
  display: block;
}

.error {
  color: red;
  display: block;
}

.none {
  display: none;
}

.blogStyle {
  padding-top: 10px;
  padding-left: 2px;
  border: 'solid';
  border-width: 1px;
  margin-bottom: 5px;
}

.navLink {
  padding-right: 5px;
}
